// Import all depencies

@import './base/variables';
@import './base/print';

@import './base/font';
@import './base/imports';

// Default :)

::placeholder {
  color: #666;
}

::selection {
  background-color: $accent;
  color: #fff;
}

input,
textarea {
  outline: none;
  &:focus:required:invalid {
    border-color: red;
  }
  &:required:valid {
    border-color: green;
  }
}

// STYLES START HERE ;)

html,
body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  color: var(--color__dark);
  font-weight: 400;
  font-size: calc((100vw - 320px) / (1920 - 320) * (16 - 14) + 14px);
}
